body {
  padding: 70px 0;
}

h3 {
  font-size: 18px;
  margin-top: 0;
}

.temp-warm {
  color: #fe9a3b;
}

.temp-cool {
  color: #15aadc;
}

.current-temp {
  font-size: 32px;
  text-align: center;
}

.feels-like {
  text-align: center;
}
