.result-item {
  border-top: 1px solid #ccc;
  padding: 12px;

  .checkbox-inline {
    margin-left: 12px;
    vertical-align: top;
  }

  .img-responsive {
    margin-bottom: 6px;
  }

  .text-muted {
    margin: 0;
  }
}
