<div class="row about">
  <div class="col-md-12">
    <div class="jumbotron clearfix">
      <h2>Jason Schmidt</h2>
      <h3><small>Javascript Cowboy</small></h3>
      <div class="row">
        <div class="col-md-3">
          <img class="img-circle img-responsive center-block" src="/img/javascript_cowboy.jpg" alt="Jason Schmidt - The Javascript Cowboy"/>
        </div>
        <div class="col-md-9">
          <h4>Wrangling up them Javascripts</h4>
          <p class="summary">Front End engineering is my bread and butter. Javascript, CSS and HTML are where I live. I've been a Front End engineer for over 8 years. In that time I've worked on a variety of projects, most notably CNET.com, and healthcare transparency tools used by health insurance companies across the nation.</p>
          <p>On the web:</p>
          <ul>
            <li><a href="http://www.linkedin.com/in/javascriptcowboy">LinkedIn</a></li>
            <li><a href="http://www.slideshare.net/JasonSchmidt4">Slideshare</a></li>
            <li><a href="http://slides.com/javascriptcowboy">Slides.com</a></li>
            <li><a href="http://github.com/javascriptcowboy">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


