<div class="compare">
  {{#link-to "index" class="btn btn-primary btn-xs"}}back{{/link-to}}
  <h2>Comparing...</h2>
  <div class="row">
    {{#each model as |item|}}
      {{compare-item item=item}}
    {{/each}}
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="text-center">The Temperature difference between them is:<br/> <span class="current-temp">{{differenceInTemp}} &deg;F</span></p>
    </div>
  </div>
</div>
